@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space $space_x2;
  width: 100%;
  &__alert {
    padding: 0;
    margin: 0;
    color: $color-negative;
    @include font-size($p);
  }
  &__menu {
    img {
      width: 30px;
    }
  }
}
